@font-face {
  font-family: "Neotriad";
  src: url("../assets/fonts/NeotriadFree-1jzAg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*NORMALIZATION*/
body,
header,
main,
footer,
nav,
h1,
h2,
h3,
a,
button,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/*MAIN CONTAINERS*/
body {
  height: 100vh;
  display: grid;
  grid-template-rows: 8% 84% 8%;
  overflow: hidden;
  font-family: Helvetica;
  --navColor: #f53b57;
  --offset: translate(-42%, -30%);
  --boardBorder: 2.5px solid black;
  --shipHit: #3667EB;
  --missHit: #FFE5E5;
  --blocked: #8a7566;
  --blue: #3667EB;
}

header {
  display: grid;
  align-items: center;
  height: 100%;
  background: var(--navColor);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
}

main {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.05);
}

.game {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-rows: 10% 90%;
}

footer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #EDEDED;
}

/*GENERAL UI*/
.navLogo {
  font-family: "Neotriad";
  font-size: 36px;
  color: white;
}

.contactInfo {
  font-size: 16px;
  padding-bottom: 20px;
}

/*GAME CONTENT*/
#gameMessage {
  margin: auto;
  transition: transform 0.2s ease;
}

.msgWin {
  transform: scale(3);
  font-family: "Neotriad";
  color: var(--navColor);
}

.gameBoards {
  display: grid;
  grid-template-columns: 50% 50%;
}

.player1,
.player2 {
  height: 100%;
  display: grid;
  grid-template-rows: 90% 10%;
  align-items: center;
  justify-content: center;
}

.playerInfo {
  box-sizing: border-box;
  margin: auto;
  padding-left: 1em;
  font-family: "Neotriad";
  color: var(--blocked);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 10px 50px;
}

/*VEIL, BUTTONS, LINKS*/
a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 550;
  transition: transform 0.15s ease;
}

a:hover {
  cursor: pointer;
  transform: scale(1.01);
}

button {
  background: none;
  border: 1.8px solid black;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  /*BLUR*/
  -webkit-backdrop-filter: blur(3px);
  /*BLUR*/
  background: rgba(0, 0, 0, 0.05);
  /*COLOR*/
  z-index: 10;
}

.multiVeil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  /*BLUR*/
  -webkit-backdrop-filter: blur(3px);
  /*BLUR*/
  background: rgba(0, 0, 0, 0.01);
  /*COLOR*/
  padding: 5px;
  z-index: 10;
}

.ontop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.offsetOntop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: var(--offset);
  z-index: 20;
}

.relative {
  position: relative;

}

.gameBtn {
  font-family: "Neotriad";
  background: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;

}

.gameBtn:hover {
  color: white;

}

.placeShipsBtn {
  border: none;
  border-radius: 0;
  border-bottom: 5px solid black;
  color: black;
  font-size: 38px;
}

.placeShipsBtn:hover {
  background-color: var(--shipHit);
  color: white;
  border-color: black;
  border-radius: 3px;
  transform: var(--offset) scale(1.03);
}

.placeShipsBtn:active {

  transform: var(--offset);
}

.newGameBtn {
  font-family: "Neotriad";
  background: rgba(200, 200, 200, 0.1);
  font-size: 60px;
  border: none;
  border-bottom: 6px solid var(--navColor);
  color: var(--navColor);
  border-radius: 0;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.newGameBtn:hover {
  transform: translate(-50%, -50%) scale(1.03);
  background-color: var(--navColor);
  border-radius: 5px;
  border-color: black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: white;
}

.newGameBtn:active {
  transform: translate(-50%, -50%);
}

/*POP UP*/
.popup {
  display: grid;
  grid-template-rows: 12% 88%;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.small {
  height: 250px;
}

.medium {
  height: 400px;
}

.small .popupHeader {
  padding: 8px 18px;
}

.medium .popupHeader {
  padding: 15px;
}

.popupHeader {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.closeBtn {
  height: 80%;
  cursor: pointer;
}

.closeBtn:hover {
  transform: scale(1.1);
}

/*Gamemode*/

.promptMode {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 10px 50px 50px 50px;
}

.gamemode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  border: none;
  border-bottom: 6px solid black;
  transition: transform 0.3s ease;
}

.gamemode:hover {
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  /*background-color: var(--navColor);*/
  color: var(--navColor);
  border-radius: 3px;
  border-color: var(--navColor);
  transform: scale(1.02);
}

.gamemode:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.gamemodeIcon {
  height: 180px;
}

.gamemodeName {
  font-family: "Neotriad";
  font-size: 1.8em;
}

/*Player Form*/
.formPlayers {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 30%;
  gap: 10px;
  padding: 15px 30px 30px 30px;
  width: 550px;
}

.formBtn {
  grid-row: 2/3;
  grid-column: 1/3;
  margin: auto;
  padding: 5px 30px;
  font-family: "Neotriad";
  font-size: 1.4em;
  border: none;
  border-bottom: 4px solid black;
  border-radius: 0;
  color: black;
  transition: transform 0.3s ease;
}

.formBtn:hover {
  background-color: var(--blue);
  border-radius: 5px;
  color: white;
  transform: scale(1.05);
}

.formBtn:focus {
  outline: none;
  background-color: var(--blue);
  border-radius: 5px;
  color: white;
  transform: scale(1.05);
}

label[for^="p"] {
  font-family: "Neotriad";
  font-size: 1.4em;
}

.playerInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100px;
}

.playerInput input {
  font-size: 24px;
  text-align: center;
  height: 1.3em;
  width: 9em;
  border: none;
  border-bottom: 4px solid black;
  font-family: "Neotriad";
}

.playerInput input:focus {
  background-color: #f5f5f5;
  border-color: var(--blue);
  border-radius: 5px;
  color: var(--blue);
  outline: none;
}

/*BOARDS*/
.rowContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.board {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 500px;
  width: 580px;
}

.boardGridMember {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colIndicator {
  border-bottom: var(--boardBorder);
}

.rowIndicator {
  border-right: var(--boardBorder);
}

.rowIndicator,
.colIndicator {
  font-family: "Neotriad";
  font-size: 1.2em;
  color: var(--blocked);
  border-color: var(--blocked);
}

.boardSquare {
  border-right: var(--boardBorder);
  border-bottom: var(--boardBorder);
  border-color: var(--blocked);

}

.playing .boardSquare {
  background-color: transparent;
  border-color: black;
}

.playing .rowIndicator,
.playing .colIndicator {
  color: black;
  border-color: black;

}

.playing .unhit:hover {
  background-image: url("../assets/icons/focus.png");
  background-position: center;
  background-size: 55%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.playing .unhit:active {
  background-color: rgba(0, 0, 0, 0.05);
  ;
}

.boardSquare.shipHit {
  background-image: url("../assets/icons/explode.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 78%;
}

.boardSquare.miss {
  background-image: url("../assets/icons/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
  width: 100%;
  height: 100%;
}

.player1 .playing+.playerInfo {
  color: var(--shipHit);
}

.player2 .playing+.playerInfo {
  color: var(--navColor);
}

.name {
  font-size: 30px;
}

.ships {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.live,
.sunk {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.computingIndicator {
  font-family: "Neotriad";
  width: 70%;
  font-size: 32px;
  text-align: center;
  color: black;
  padding: 10px 0;
  border-bottom: 5px solid black;
}

/*SHIP MODULE*/
.shipModule {
  position: absolute;
  z-index: 30;
  background-color: white;
  padding: 28px 35px 20px 35px;
  top: 50%;
  left: 50%;
  transform: translate(-44%, -52%);
  height: 79%;
  width: 60%;
  display: grid;
  grid-template-rows: 15% 70% 15%;
  gap: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  font-family: "Neotriad";
  text-align: center;
}

.placeIndication {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border-top: 3px solid var(--shipHit);*/
  margin: auto;
}

.placeIndication h3 {
  width: 70%;
  font-size: 28px;
  color: var(--shipHit);
  text-align: start;
  line-height: 1.05;

}

.dirBtn {
  height: 60%;
  display: flex;
  align-items: center;
  padding: 0 0.6em;
  border-bottom: 4px solid var(--navColor);
}

.dirBtn:hover {
  cursor: pointer;
  background-color: var(--shipHit);
  border-color: black;
  border-radius: 5px;
}

.dirBtn:active {
  border-bottom: 2px solid black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.dirBtn img {
  height: 50%;
}

.shipDisplay {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.shipDisplay.horizontal {
  flex-direction: column;
}

.shipDisplay.vertical {
  flex-direction: row;
}

.shipModuleBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shipItem {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.vertical .shipItem {
  flex-direction: column;
}

.shipCounter {
  background-color: var(--shipHit);
  color: white;
  width: 25px;
  height: 25px;
  margin: none;
  line-height: 1.2;
  padding: 3px;
  border-radius: 8px;
  font-size: 20px;
}

.shipImgCont {
  padding: 5px 15px;
  display: flex;
  gap: 15px;
}

.vertical .shipImgCont {
  flex-direction: column;
}

.shipImgCont:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 5px;
}

.shipImgCont.selected {
  background-color: var(--shipHit);
  border-radius: 5px;
  border-bottom: 4px solid black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.shipImg {
  height: 50px;
}

.shipModule button {
  outline: none;
  border: none;
  background: transparent;
  font-family: "Neotriad";
  font-size: 24px;
  padding: 7px 12px;
}

.shipModuleBtns {
  height: 100%;
}

.resetPlaceBtn {
  color: var(--navColor);
}

.shipModule .playBtn {
  color: var(--shipHit);
  border-radius: 0;
  border-bottom: 4px solid var(--shipHit);
}

.shipModule .playBtn:hover {
  background-color: var(--shipHit);
}

.shipModule .resetPlaceBtn {
  color: var(--navColor);
  border-radius: 0;
  border-bottom: 4px solid var(--navColor);
}

.shipModule .resetPlaceBtn:hover {
  background-color: var(--navColor);
}

.shipModule button:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 5px;
  border-color: black;
}

/*BOARD PLACING*/
.placing .boardSquare {
  background-color: transparent;
  border-color: black;
}

.placing .rowIndicator,
.placing .colIndicator {
  color: black;
  border-color: black;

}

.placing+.playerInfo {
  color: black;
}

.placing .placingHover {
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.sp {
  background-image: url("../assets/icons/ship1.png");
}

.mp {
  background-image: url("../assets/icons/ship2.png");
}

.lp {
  background-image: url("../assets/icons/ship3.png");
}

.xlp {
  background-image: url("../assets/icons/ship4.png");
}
