/*NORMALIZATION*/
body,
header,
main,
footer,
nav,
h1,
h2,
h3,
a,
button,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
/*MAIN CONTAINERS*/
body {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  font-family: Helvetica;
}
header {
  margin: auto 0;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
}
main {
  width: 100%;
  height: 100%;
}
.game {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-rows: 10% 90%;
}
footer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*GAME CONTENT*/
#gameMessage {
  margin: auto;
}
.gameBoards {
  display: grid;
  grid-template-columns: 50% 50%;
}
.player1,
.player2 {
  height: 100%;
  display: grid;
  grid-template-rows: 90% 10%;
}
.name {
  margin: auto;
}
/*boards*/
.board {
  border: 1px solid black;
}
/*BUTTONS AND LINKS*/

