@font-face {
  font-family: "Neotriad";
  src: url("../assets/fonts/NeotriadFree-1jzAg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*NORMALIZATION*/
body,
header,
main,
footer,
nav,
h1,
h2,
h3,
a,
button,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
/*MAIN CONTAINERS*/
body {
  height: 100vh;
  display: grid;
  grid-template-rows: 8% 84% 8%;
  overflow: hidden;
  font-family: Helvetica;
  --navColor: #f53b57;
  --offset: translate(-42%, -30%);
  --boardBorder: 2.5px solid black;
  --shipHit: #3667EB;
  --missHit:#FFE5E5;
  --blocked:#8a7566;
}
header {
  display:grid;
  align-items:center;
  height:100%;
  background:var(--navColor);
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
}
main {
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.05);
}
.game {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-rows: 10% 90%;
}
footer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #EDEDED;
}
/*GENERAL UI*/
.navLogo{
  font-family: "Neotriad";
  font-size: 36px;
  color:white;
}
.contactInfo{
  font-size:16px;
  padding-bottom:20px;
}
/*GAME CONTENT*/
#gameMessage {
  margin: auto;
  transition: transform 0.2s ease;
}
.msgWin{
  transform: scale(3);
  font-family: "Neotriad";
  color: var(--navColor);
}
.gameBoards {
  display: grid;
  grid-template-columns: 50% 50%;
}
.player1,
.player2 {
  height: 100%;
  display: grid;
  grid-template-rows: 90% 10%;
  align-items:center;
  justify-content:center;
}
.playerInfo {
  box-sizing:border-box;
  margin: auto;
  padding-left:1em;
  font-family: "Neotriad";
  color: var(--blocked);
  display: flex;
  width:100%;
  height:100%;
  justify-content: space-between;
  padding: 10px 50px;
}
/*VEIL, BUTTONS, LINKS*/
a{
  display: inline-block;
  text-decoration:none;
  color: black;
  font-weight:550;
  transition: transform 0.15s ease;
}
a:hover{
  cursor:pointer;
  transform:scale(1.01);
}
button{
  background:none;
  border: 1.8px solid black;
  border-radius: 4px;
}
button:hover{
  cursor:pointer;
  transform:scale(1.01);
}
.veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px); /*BLUR*/
  -webkit-backdrop-filter: blur(3px); /*BLUR*/
  background: rgba(0, 0, 0, 0.05); /*COLOR*/
  z-index: 10;
}
.multiVeil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px); /*BLUR*/
  -webkit-backdrop-filter: blur(3px); /*BLUR*/
  background: rgba(0, 0, 0, 0.01); /*COLOR*/
  padding:5px;
  z-index: 10;
}
.ontop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
.offsetOntop{
  position:absolute;
  top: 50%;
  left: 50%;
 transform: var(--offset);
  z-index: 20;
}
.relative {
  position: relative;

}
.gameBtn{
 font-family: "Neotriad";
  background: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;

}
.gameBtn:hover{
  color: white;

}
.placeShipsBtn{
  border:3.5px solid black;
  color: black;
  font-size:32px;
}
.placeShipsBtn:hover{
  background-color: black;
  transform: var(--offset) scale(1.03);
}
.placeShipsBtn:active{

  transform: var(--offset);
}
.newGameBtn {
  font-family: "Neotriad";
  background: none;
  font-size: 50px;
  border: 5px solid var(--navColor);
  color: var(--navColor);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.newGameBtn:hover {
  transform: translate(-50%, -50%) scale(1.03);
  background-color: var(--navColor);
  color: white;
}
.newGameBtn:active {
  transform: translate(-50%, -50%);
}
/*POP UP*/
.popup {
  display: grid;
  grid-template-rows: 15% 85%;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.small{
  height: 250px;
}
.medium{
  height:400px;
}
.small .popupHeader{
  padding: 8px 18px;
}
.medium .popupHeader{
  padding: 15px;
}
.popupHeader {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.closeBtn {
  height: 90%;
  cursor: pointer;
}
.closeBtn:hover {
  transform: scale(1.1);
}
/*Gamemode*/

.promptMode {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align.items: center;
  gap: 50px;
  padding: 15px 30px 30px 30px;
}
.gamemode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  border-radius: 8px;
}
.gamemode:hover {
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.gamemode:active {
  background-color: rgba(0, 0, 0, 0.1);
}
.gamemodeIcon {
  height: 200px;
}
/*Player Form*/
.formPlayers{
  box-sizing: border-box;
  display: grid;
  grid-template-columns:50% 50%;
  grid-template-rows: 70% 30%;
  gap: 10px;
  padding: 15px 30px 30px 30px;
  width:550px;
}
.formPlayers button{
  grid-row: 2/3;
  grid-column:1/3;
  margin: auto;
  padding:5px 70px;
}
.playerInput{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 20px;
  height: 100px;
}
.playerInput input{
  font-size:20px;
  text-align:center;
}
/*BOARDS*/
.rowContainer {
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.board{
  display:grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height:500px;
  width:580px;
}
.boardGridMember{
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.colIndicator{
  border-bottom: var(--boardBorder);
}
.rowIndicator{
  border-right: var(--boardBorder);
  }
.rowIndicator, .colIndicator{
  font-family: "Neotriad";
  font-size:1.2em;
  color: var(--blocked);
  border-color:var(--blocked);
}
.boardSquare{
  border-right:var(--boardBorder);
  border-bottom:var(--boardBorder);
  border-color:var(--blocked);

}
.playing .boardSquare{
  background-color: transparent;
  border-color: black;
}
.playing .rowIndicator, .playing .colIndicator{
  color:black;
  border-color: black;

}
.playing .unhit:hover{
  background-image: url("../assets/icons/rocket.png");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  cursor:pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
.playing .unhit:active{
  background-color: rgba(0, 0, 0, 0.05);;
}

.boardSquare.shipHit{
  background-image: url("../assets/icons/explode.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:78%;
}
.boardSquare.miss{
  background-image: url("../assets/icons/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%; 
  width:100%;
  height:100%;
}
.playing + .playerInfo{
  color:var(--navColor);
}
.name{
    font-size: 30px;
}
.ships{
  font-size:22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.live, .sunk{
  width: 120px;
  display: flex;
  justify-content: space-between;
}
.computingIndicator{
  font-family: "Neotriad";
  font-size: 40px;
  text-align: center;
  color: var(--navColor);
}
