@font-face {
  font-family: "Neotriad";
  src: url("../assets/fonts/NeotriadFree-1jzAg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*NORMALIZATION*/
body,
header,
main,
footer,
nav,
h1,
h2,
h3,
a,
button,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
/*MAIN CONTAINERS*/
body {
  height: 100vh;
  display: grid;
  grid-template-rows: 8% 84% 8%;
  overflow: hidden;
  font-family: Helvetica;
}
header {
  margin: auto 0;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
}
main {
  width: 100%;
  height: 100%;
}
.game {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-rows: 10% 90%;
}
footer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*GAME CONTENT*/
#gameMessage {
  margin: auto;
}
.gameBoards {
  display: grid;
  grid-template-columns: 50% 50%;
}
.player1,
.player2 {
  height: 100%;
  display: grid;
  grid-template-rows: 90% 10%;
}
.name {
  margin: auto;
}
/*boards*/
.board {
  border: 1px solid black;
}
/*VEIL, BUTTONS, LINKS*/
.veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px); /*BLUR*/
  -webkit-backdrop-filter: blur(3px); /*BLUR*/
  background: rgba(0, 0, 0, 0.05); /*COLOR*/
  z-index: 10;
}
.ontop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
.relative {
  position: relative;
}
.newGameBtn {
  font-family: "Neotriad";
  border: none;
  background: none;
  font-size: 45px;
  border: 4px solid black;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.newGameBtn:hover {
  transform: translate(-50%, -50%) scale(1.03);
  background-color: black;
  color: white;
}
.newGameBtn:active {
  transform: translate(-50%, -50%);
}
/*POP UP*/
.popup {
  display: grid;
  grid-template-rows: 15% 85%;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.small{
  height: 250px;
}
.medium{
  height:400px;
}
.small .popupHeader{
  padding: 8px 18px;
}
.medium .popupHeader{
  padding: 15px;
}
.popupHeader {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.closeBtn {
  height: 90%;
  cursor: pointer;
}
.closeBtn:hover {
  transform: scale(1.1);
}
/*Gamemode*/

.promptMode {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align.items: center;
  gap: 50px;
  padding: 15px 30px 30px 30px;
}
.gamemode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  border-radius: 8px;
}
.gamemode:hover {
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.gamemode:active {
  background-color: rgba(0, 0, 0, 0.1);
}
.gamemodeIcon {
  height: 200px;
}
/*Player Form*/
.formPlayers{
  box-sizing: border-box;
  display: grid;
  grid-template-columns:50% 50%;
  grid-template-rows: 70% 30%;
  gap: 10px;
  padding: 15px 30px 30px 30px;
  width:550px;
}
.formPlayers button{
  grid-row: 2/3;
  grid-column:1/3;
  margin: auto;
  padding:5px 70px;
}
.playerInput{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-around;
  height: 100px;
}
.playerInput input{
  font-size:20px;
  text-align:center;
}
